!!!
%html
	%head
		%title DrDamo's CV
		%link{rel:"stylesheet", type:"text/css", href:"css.css"}

	%body
		%article
			%header
				%img{src:"./damian.jpg", alt:"Damian"}
				%h1 DAMIAN CARSON WILLIAMS
				%h2 PERSONAL DETAILS
				%address Home Address 
				%address 35 Brentford Road,
				%br Kings Heath,
				%br Birmingham
				%br B14 4DQ
				
				%p.clearfix 
					%b Telephone 
					0121 441 2541
				%p
					Email 
					%a{href:"mailto:damianwilliams@nhs.net"} 
					damianwilliams@nhs.net

			%section 
				%h2 EDUCATION
				%h3 1985 - 1990 Longcroft Comprehensive School, Beverley, N. Humberside.
				%h3 1992 - 1998 The University of Birmingham
				%h3 2004 Royal College of General Practitioners
				%h3 2005 – 2007 Sheffield Hallam University

			%section	
				%h2 MEDICAL POSTS (CHRONOLOGICAL ORDER)
				
				%h3 GP Partner - Shenley Green Surgery, Northfield
				%p 
					Shenley Green Surgery in Northfield, Birmingham is a 4 partner practice with 5,700 patients. We
					are a training practice and involved in Firm One teaching for the university. My roles included
					
				%h4 Clinical 
				%ul
					%li All Clinical work including Minor Surgery and Joint Injections
					%li Managing Drug Addiction (with Drug Solutions Birmingham)
					%li Medical Reports and Private Medicals
					%li Rheumatology Lead


				%h4 Training 
				%ul
					%li Firm 1 Teaching (Pre-clinical and Clinical Years)
					%li Clinical and Educational Supervisor for FY2 doctors
					%li Assisting with Registrar Training

				%h4 Admin 
				%ul
					%li Fully involved in all aspects of the management of the practice
					%li IT Lead
					%li Overall QOF Lead
					%li Commissioning Lead

			%section
				%h3 SPECIAL INTEREST – INTERNATIONAL HEALTH
				%p 
					I have been increasingly involved in the field of international health over the past ten years. I want to
					continue to pursue this interest whilst keeping my base in general practice. I have gained experience in
					this field in the following ways
				%ul
					%li Medical Work in Thailand, Papua New Guinea, Iraq and Myanmar
					%li Speaking at travel conferences and PLT events
					%li Studying for MSc in International Travel and Health
					%li Working with HealthLink360 (www.healthlink360.org)
					%li Member of the British Travel Health Association (BTHA)
					%li Co-opted to the Executive Committee of the BTHA (Deputy Honorary Treasurer)
				
				%p 
					This range of activities means I have both theoretical and practical experience of travel medicine and
					international health. I have studied malaria, TB and typhoid but also seen and treated them in real
					situations. I have also had to learn to deal with cross cultural differences and language barriers in a
					medical and social context.

			%section
				%h3 SPECIAL INTEREST – COMMISSIONING
				%p 
					I have developed a growing interest and involvement in commissioning over the past few years. I have
					been the practice lead for commissioning and lead the data analysis sub-group for the Northfield
					Commissioning Group. Following the white paper I became involved with United Birmingham
					Consortia (UBC), participating in the McKinsey Training programme and then becoming assistant
					clinical lead for IT. The focus of this work is data analysis but also involves dealing with other issues
					affecting General Practice IT. More recently I have been the Northfield Network Chair for UBC (now
					BHC) helping the Northfield practices in the challenge of clinical commissioning as well as dealing with
					the new QOF QP indicators.

			%footer
				Designed by DrDamo